extends layout.pug

block variables
  - title = "Admin Dashboard"

block append head
  style.
    details {
      max-width: 700px;
    }
    .flash__content {
      padding: 0 1em;
    }

block content
  h1 Admin Dasbhoard
  details
    summary Published Flashes (#{publishedFlashes.length.toLocaleString('en-us')})
    each flash in publishedFlashes
      article.flash(id=flash._id.toString() data-md="flash.content")
        p.no-indent: em Release date: #{flash.date}
        p.no-indent: em Hits: #{flash.hits}
        .flash__content
          != md.render(flash.content)
        p.no-indent
          a.error(href="./flash/" + flash._id.toString() + "/delete/") Delete
          |
          |
          a.warning(href="javascript:editFlash('" + flash._id.toString() + "')") Edit
  details
    summary Unpublished Flashes (#{unpublishedFlashes.length.toLocaleString('en-us')})
    each flash in unpublishedFlashes
      article.flash(id=flash._id.toString())
        p.no-indent: em Release date: #{flash.date}
        .flash__content
          != md.render(flash.content)
        p.no-indent
          a.error(href="./flash/" + flash._id.toString() + "/delete/") Delete
          |
          |
          a.warning(href="javascript:editFlash('" + flash._id.toString() + "')") Edit
  details
    summary Stats
    p Published word count: #{publishedFlashes.length ? publishedFlashes.map(thisFlash => thisFlash.content).join('\n').split(/  \n| |\n\n/).length.toLocaleString('en-us') : 0}
    p Unpublished word count: #{unpublishedFlashes.length ? unpublishedFlashes.map(thisFlash => thisFlash.content).join('\n').split(/  \n| |\n\n/).length.toLocaleString('en-us') : 0}
  h2 Add flash
  form(method="POST" action="./flash/")
    label(for="flashContent") Full text:
    textarea(name="content" id="flashContent" placeholder="Add markdown, HTML, or a mix..." oninput="wordCount()")
    p
      span#words 0
      |  words
    label(for="flashDate") Publish date:
    input(type="text" name="date" id="flashDate" placeholder="yyyy-mm-dd (leave blank for default)")
    input(type="submit" value="Add")
  script.
    function wordCount() {
      document.getElementById("words").innerText = document.getElementById("flashContent").value.length ? document.getElementById("flashContent").value.split(/  \n| |\n\n/).length.toLocaleString('en-us') : 0;
    }
