extends layout.pug

block variables
  - title = "Home"
  - metaDescription = config.synopsis
  - daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  - releaseSchedule = config.releasedOn.map(day => (config.releasedOn[config.releasedOn.length - 1] === day && config.releasedOn.length > 1 ? "and " : "") + daysOfWeek[day]).join(", ")
  if JSON.stringify(config.releasedOn) === "[0,1,2,3,4,5,6]"
    - releaseSchedule = "day"
  else if JSON.stringify(config.releasedOn) === "[1,2,3,4,5]"
    - releaseSchedule = "weekday"

block append resources
  script(src="/lib/homepage.js" defer)

block content
  #story
    article#intro
      p Greetings, and welcome to <em>#{config.title}</em>, a serial composed of microfiction by #{config.author.name}. What would you like to do today?
      ul
        li: a(href="#beginning") Start reading from the beginning
        li: a(href="#latest") Read the latest flash
        li: a(href="/about-the-author/") Learn more about #{config.author.name.split(" ")[0]}
    hr#beginning
    each flash in flashes
      div.flash(id=flash.date data-latest=flash === flashes[flashes.length - 1])
        article
          if flash === flashes[flashes.length - 1]
            span#latest
          span.flash__date #{flash.date}
          != md.render(flash.content)
    hr
    if (!cookies.choseConfig)
      article#subscribe
        p You've reached the end, but the story's not over. A new chunk of the story is released every #{releaseSchedule}. Want to get notified when the next part of the story is released?
        a.button(href="javascript:emailPrefs('all')") Yes, please! Email me every time!
        if (config.releasedOn.length > 1)
          a.button(href="javascript:emailPrefs('weekly')") I'd prefer a weekly digest.
        a.button(href="javascript:emailPrefs('none')") NO EMAILS PLS KTHXBYE
