extends layout.pug

block variables
  - title = "Home"
  - metaDescription = config.synopsis

block append resources
  script(src="/lib/homepage.js" defer)

block content
  #story
    article#intro
      p Greetings, and welcome to <em>#{config.title}</em>, a serial composed of microfiction by #{config.author.name}. What would you like to do today?
      ul
        li: a(href="#beginning") Start reading from the beginning
        li: a(href="#latest") Read the latest flash
        li: a(href="/about-the-author/") Learn more about #{config.author.name.split(" ")[0]}
    hr#beginning
    each flash in flashes
      div.flash(id=flash.date data-latest=flash === flashes[flashes.length - 1])
        article
          if flash === flashes[flashes.length - 1]
            span#latest
          span.flash__date #{flash.date}
          != md.render(flash.content)
