extends layout.pug

block variables
  - hardTitle = `${config.title} by ${config.author.name}`
  - metaDescription = config.synopsis
  - metaType = 'book'
  - daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  - releaseSchedule = config.releasedOn.map(day => (config.releasedOn[config.releasedOn.length - 1] === day && config.releasedOn.length > 1 ? "and " : "") + daysOfWeek[day]).join(", ")
  if JSON.stringify(config.releasedOn) === "[0,1,2,3,4,5,6]"
    - releaseSchedule = "day"
  else if JSON.stringify(config.releasedOn) === "[1,2,3,4,5]"
    - releaseSchedule = "weekday"

block append resources
  link(href="/lib/homepage.css" rel="stylesheet")
  script(src="/lib/jquery.min.js" async)
  script(src="/lib/homepage.js" defer)

block content
  #story
    section#intro
      p Greetings, and welcome to <em>#{config.title}</em>, a serial composed of microfiction by #{config.author.name}. What would you like to do today?
      ul
        li: a(href="#beginning") Start reading from the beginning
        li: a(href="#latest") Read the latest flash
        li: a(href="/about-the-author/") Learn more about #{config.author.name.split(" ")[0]}
      h3 Display Options
      h4.no-margin-bottom Theme
      a#theme__light.theme__button(href="/display/theme/set/light") Light Mode
      a#theme__dark.theme__button(href="/display/theme/set/dark") Dark Mode
      a#theme__code.theme__button(href="/display/theme/set/code") Code Mode
      h4.no-margin-bottom Font
      a#font__sans.font__button(href="/display/font/set/sans") Sans Serif
      a#font__serif.font__button(href="/display/font/set/serif") Serif
      a#font__mono.font__button(href="/display/font/set/mono") Monospace
    hr#beginning
    each flash in flashes
      if flash.type === 'flash'
        article.flash(id=flash.date data-id=flash._id.toString() date-type='flash')
          if flash === flashes[flashes.length - 1]
            span#latest
          span.flash__date #{flash.date}
          != md.render(flash.content)
      else if flash.type !== 'flash'
        article.non-flash(data-id=flash._id.toString() data-type=flash.type)
          details
            summary(onclick='hit("' + flash._id.toString() +'")') #{flash.label}
            != md.render(flash.content)
    hr
    if (!cookies.choseSubscribe)
      article#subscribe
        p You've reached the end, but the story's not over. A new chunk of the story is released every #{releaseSchedule} (there's a countdown in the footer). Want to get notified when the next part of the story is released?
        a.button(href=config.subscription.all.link data-freq='all' rel="noopener" target="_blank") #{config.subscription.all.label}
        if (config.releasedOn.length > 1)
          a.button(href=config.subscription.weekly.link data-freq='weekly' rel="noopener" target="_blank") #{config.subscription.weekly.label}
        a.button(href="javascript:void(0)" data-freq='none') #{config.subscription.none.label}
    else if (cookies.choseSubscribe)
      article: p That's the entire story so far. Come back for a new chunk every #{releaseSchedule}! (there's a countdown in the footer)
