doctype html
html(lang="en" data-theme=(cookies.theme ? cookies.theme : 'prefer') data-font=(cookies.font ? cookies.font : 'serif'))
  head
    block head
      - metaImage = '/lib/images/default.png'
      - metaDescription = config.synopsis
      - metaType = 'website'
      - daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
      - releaseSchedule = config.releasedOn.map(day => (config.releasedOn[config.releasedOn.length - 1] === day && config.releasedOn.length > 1 ? "and " : "") + daysOfWeek[day]).join(", ")
      if JSON.stringify(config.releasedOn) === "[0,1,2,3,4,5,6]"
        - releaseSchedule = "day"
      else if JSON.stringify(config.releasedOn) === "[1,2,3,4,5]"
        - releaseSchedule = "weekday"
      block variables
      block resources
        link(rel="stylesheet" href="/assets/global.css")
        script(src="/assets/global.js" defer)
      block meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=metaDescription)
        meta(name="author" content=config.author.name)
        meta(property="og:title" content=(hardTitle === undefined ? title + " | " + config.title + " by " + config.author.name : hardTitle))
        meta(property="og:type" content=metaType)
        meta(property="og:book:author" content=config.author.name)
        meta(property="og:description" content=metaDescription)
        meta(property="og:image" content=metaImage)
      block title
        title #{hardTitle == undefined ? title + " | " + config.title + " by " + config.author.name : hardTitle}
  body
    noscript
      style .hide-noscript {display: none!important}
    span.hidden#releasedOn #{JSON.stringify(config.releasedOn)}
    block navbar
      nav.main-nav
        a.main-nav__title(href="/") #{config.title}
        a.main-nav__author(href="/about-the-author/") #{config.author.name}
    #content
      block content
    a#scrollToTop.hidden(href='#top') &lt;
    noscript: style #scrollToTop {display: inline-block!important;}
    block footer
      footer
        p !{config.copyright.replace("[[YEARS]]", config.startYear !== new Date().getFullYear() ? config.startYear + "-" + (new Date()).getFullYear() : config.startYear).replace("[[AUTHOR]]", config.author.name)}
        noscript: p new flashes released every #{releaseSchedule}
        p.hide-noscript next flash in 
          span#countdown
